@media screen and (min-width: 415px) and (max-width: 768px) {
    .contact{
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding:1rem;
        background-color: var(--white);
        border-radius: 1rem;
        box-shadow: 1px 1px 10px  var(--zinc);
        cursor:pointer ;
      }
}