@media screen and (max-width: 414px) {
    .contact{
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding:0.7rem;
        background-color: var(--white);
        border-radius: 1rem;
        box-shadow: 1px 1px 10px  var(--zinc);
        cursor:pointer ;
      }
}